# System Parameters
System.configDir=/home/nrowell/Temp/
System.videoDir=/home/nrowell/Temp/videos
System.refStarCatPath=/home/nrowell/Temp/RefStarCat.dat

# Station Parameters
Station.longitude=55.961511
Station.latitude=-3.169586
Station.altitude=29

# Camera Parameters
Camera.image_width_height=640 480
Camera.azimuth=34.5
Camera.elevation=67.34

# Detection Parameters
Detection.detection_head=30
Detection.detection_tail=30
Detection.pixel_difference_threshold=100
Detection.n_changed_pixels_for_trigger=800

